{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% block name_title %}جزییات محصول{% endblock name_title %}

{% block n_body %}



        <style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 650px;
  margin: auto;
  text-align: center;
  font-family: arial;


}

.price {
  color: grey;
  font-size: 25px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;


}

.card button:hover {
  opacity: 0.7;
}
</style>


<div class="card">

    {% if dress_detail.image %}
  <img src="{{ dress_detail.image.url }}" alt="Denim Jeans" style="width:100%">
    {% endif %}
  <h1>{{ dress_detail.title }}</h1>
  <p class="price">{{ dress_detail.price }} {% translate 'تومان' %}</p>

  <p><button>اضافه به سبد خرید</button></p>


</div>

{% endblock n_body %}