{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block name_title %}درباره ما{% endblock name_title %}

{% block n_body %}
<style >


body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #286cea;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class=""style="background-color: #f7ff00">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center"style="background-color: #ffea00">
  <!-- Avatar image in top left corner -->
  <img src="{% static 'reza11.jpg' %}" style="width:100%">
  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p style="font-size: 15px">صفحه اصلی</p>
  </a>
  <a href="{% url 'contact' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p style="font-size: 15px">درباره ما</p>
  </a>
{#  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">#}
{#    <i class="fa fa-eye w3-xxlarge"></i>#}
{#    <p>PHOTOS</p>#}
{#  </a>#}
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p style="font-size: 15px">ارتباط با ما</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
{#<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">#}
{#  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">#}
{#    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>#}
{#    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>#}
{#    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>#}
{#    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>#}
{#  </div>#}
{#</div>#}

<!-- Page Content -->
<div class="w3-padding-large" id="main" style="background-color: #0044f3">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo" style="background-color: #00a6ff;color: #00FF00"><span class="w3-hide-small">BIRIN </span> STORE</h1>
    <p></p>
{#    <img src="{% static 'reza11.jpg' %}" alt="boy" class="w3-image" width="992" height="1108">#}
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about" >
    <h2 class="" style="color: #00FF00 ; font-family: 'B Tabassom';float: right ;font-size: 60px">فروشگاه بیرین</h2>
{#        <hr style="width:200px;background-color: #00ff0d ;float: right" class="w3-opacity">#}
      <br>
      <br>

      <br>

      <br>

    <p style="color: #8bfb00;font-size: 20px;float: right">  فروشگاه اینترنتی بیرین به صورت عمده و تکی محصولات خود
                  را عرضه می نماید جهت دریافت اطلاعات بیشتر با واحد پشتیبانی تماس حاصل نمایید
    </p>
               <p style="color: #5eff00;font-size: 20px;float: right">فروشگاه بیرین در طول هفته از روز شنبه الی جمعه از ساعت 8:00 صبح الی 12:00 شب اماده ارایه
                                خدمات به شما مشتریان گرامی می باشد
                            </p>

{#    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>#}
{#    <p class="w3-wide">Photography</p>#}
{#    <div class="w3-white">#}
{#      <div class="w3-dark-grey" style="height:28px;width:95%"></div>#}
{#    </div>#}
{#    <p class="w3-wide">Web Design</p>#}
{#    <div class="w3-white">#}
{#      <div class="w3-dark-grey" style="height:28px;width:85%"></div>#}
{#    </div>#}
{#    <p class="w3-wide">Photoshop</p>#}
{#    <div class="w3-white">#}
{#      <div class="w3-dark-grey" style="height:28px;width:80%"></div>#}
{#    </div><br>#}

{#    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">#}
{#      <div class="w3-quarter w3-section">#}
{#        <span class="w3-xlarge">11+</span><br>#}
{#        Partners#}
{#      </div>#}
{#      <div class="w3-quarter w3-section">#}
{#        <span class="w3-xlarge">55+</span><br>#}
{#        Projects Done#}
{#      </div>#}
{#      <div class="w3-quarter w3-section">#}
{#        <span class="w3-xlarge">89+</span><br>#}
{#        Happy Clients#}
{#      </div>#}
{#      <div class="w3-quarter w3-section">#}
{#        <span class="w3-xlarge">150+</span><br>#}
{#        Meetings#}
{#      </div>#}
{#    </div>#}
{##}
{#    <button class="w3-button w3-light-grey w3-padding-large w3-section">#}
{#      <i class="fa fa-download"></i> Download Resume#}
{#    </button>#}

    <!-- Grid for pricing tables -->
{#    <h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>#}
{#    <div class="w3-row-padding" style="margin:0 -16px">#}
{#      <div class="w3-half w3-margin-bottom">#}
{#        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">#}
{#          <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>#}
{#          <li class="w3-padding-16">Web Design</li>#}
{#          <li class="w3-padding-16">Photography</li>#}
{#          <li class="w3-padding-16">5GB Storage</li>#}
{#          <li class="w3-padding-16">Mail Support</li>#}
{#          <li class="w3-padding-16">#}
{#            <h2>$ 10</h2>#}
{#            <span class="w3-opacity">per month</span>#}
{#          </li>#}
{#          <li class="w3-light-grey w3-padding-24">#}
{#            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>#}
{#          </li>#}
{#        </ul>#}
{#      </div>#}
{##}
{#      <div class="w3-half">#}
{#        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">#}
{#          <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>#}
{#          <li class="w3-padding-16">Web Design</li>#}
{#          <li class="w3-padding-16">Photography</li>#}
{#          <li class="w3-padding-16">50GB Storage</li>#}
{#          <li class="w3-padding-16">Endless Support</li>#}
{#          <li class="w3-padding-16">#}
{#            <h2>$ 25</h2>#}
{#            <span class="w3-opacity">per month</span>#}
{#          </li>#}
{#          <li class="w3-light-grey w3-padding-24">#}
{#            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>#}
{#          </li>#}
{#        </ul>#}
{#      </div>#}
{#    <!-- End Grid/Pricing tables -->#}
{#    </div>#}

    <!-- Testimonials -->
{#    <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>#}
{#    <img src="/w3images/bandmember.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">#}
{#    <p><span class="w3-large w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>#}
{#    <p>John Doe saved us from a web disaster.</p><br>#}

{#    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">#}
{#    <p><span class="w3-large w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>#}
{#    <p>No one is better than John Doe.</p>#}
{#  <!-- End About Section -->#}
{#  </div>#}
{##}
{#  <!-- Portfolio Section -->#}
{#  <div class="w3-padding-64 w3-content" id="photos">#}
{#    <h2 class="w3-text-light-grey">My Photos</h2>#}
{#    <hr style="width:200px" class="w3-opacity">#}
{##}
{#    <!-- Grid for photos -->#}
{#    <div class="w3-row-padding" style="margin:0 -16px">#}
{#      <div class="w3-half">#}
{#        <img src="/w3images/wedding.jpg" style="width:100%">#}
{#        <img src="/w3images/rocks.jpg" style="width:100%">#}
{#        <img src="/w3images/sailboat.jpg" style="width:100%">#}
{#      </div>#}
{##}
{#      <div class="w3-half">#}
{#        <img src="/w3images/underwater.jpg" style="width:100%">#}
{#        <img src="/w3images/chef.jpg" style="width:100%">#}
{#        <img src="/w3images/wedding.jpg" style="width:100%">#}
{#        <img src="/w3images/p6.jpg" style="width:100%">#}
{#      </div>#}
{#    <!-- End photo grid -->#}
{#    </div>#}
{#  <!-- End Portfolio Section -->#}
{#  </div>#}

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">ارتباط با ما</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p style="color: #00FF00"><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Urmia, iran</p>
      <p style="color: #00FF00"><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> شماره تماس
          09144833644/09144833649 حسینی
      </p>
      <p style="color: #00FF00"><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> ایمیل:huseyni823@gmail.com</p>
    </div><br>
    <p style="color: #00FF00">چهت ارسال پیام لطفا فیلدهای زیر را تکمیل نمایید</p>

    <form action="" target="_blank" method="get">
        {% csrf_token %}
        {{ form|crispy }}
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> ارسال پیام
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>

    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
{#    <i class="fa fa-facebook-official w3-hover-opacity"></i>#}
    <i class="fa fa-instagram w3-hover-opacity" style="color: #ffffff"></i>
{#    <i class="fa fa-snapchat w3-hover-opacity"></i>#}
{#    <i class="fa fa-pinterest-p w3-hover-opacity"></i>#}
{#    <i class="fa fa-twitter w3-hover-opacity"></i>#}
{#    <i class="fa fa-linkedin w3-hover-opacity"></i>#}

      <i class="fa fa-telegram w3-hover-opacity" style=  "color: #00ff04 " size="50px" ></i>
    <p style="color: #00FF00" class="w3-medium">website <a href="{% url 'about' %}" target="_blank" class="w3-hover-text-green">birinstore.ir</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>






{% endblock n_body %}

<!--

Tooplate 2123 Simply Amazed

https://www.tooplate.com/view/2123-simply-amazed

{#-->#}
{#{% block n_body %}#}
{#    <div id="outer">#}
{#        <header class="header orders-last" id="tm-header">#}
{#            <nav class="navbar">#}
{#                <div class="collapse navbar-collapse single-page-nav">#}
{#                    <ul class="navbar-nav">#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="#section-1"><span class="icn"><i#}
{#                                    class="fas fa-2x fa-air-freshener"></i></span> فروشگاه بیرین</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="#section-2"><span class="icn"><i#}
{#                                    class="fab fa-2x fa-battle-net"></i></span> اطلاعات سایت</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="#section-3"><span class="icn"><i class="far fa-2x fa-images"></i></span>مدیریت#}
{#                                فروش عمده </a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="#section-4"><span class="icn"><i#}
{#                                    class="far fa-2x fa-comments"></i></span> تماس با ما</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </nav>#}
{#        </header>#}
{##}
{#        <button class="navbar-button collapsed" type="button">#}
{#            <span class="menu_icon">#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </span>#}
{#        </button>#}
{##}
{#        <main id="content-box" class="orders-first">#}
{#            <div class="banner-section section parallax-window" data-parallax="scroll"#}
{#                 data-image-src="{% static 'backstore.jpg' %}" id="section-1">#}
{#                <div class="container">#}
{#                    <div class="item">#}
{#                        <div class="bg-blue-transparent logo-fa"><span><i class="fas fa-2x fa-atom"></i></span> Birin#}
{#                            Store#}
{#                        </div>#}
{#                        <div class="bg-blue-transparent simple"><p>فروشگاه اینترنتی بیرین به صورت عمده و تکی محصولات خود#}
{#                            را عرضه می نماید جهت دریافت اطلاعات بیشتر با واحد پشتیبانی تماس حاصل نمایید </p>#}
{#                            <p>فروشگاه بیرین در طول هفته از روز شنبه الی جمعه از ساعت 8:00 صبح الی 12:00 شب اماده ارایه#}
{#                                خدمات به شما مشتریان گرامی می باشد</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <section class="work-section section" id="section-2">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="item col-md-4">#}
{#                            <div class="tm-work-item-inner">#}
{#                                <div class="icn"><i class="fas fa-2x fa-icons"></i></div>#}
{#                                <h3>صفحات مجازی ما </h3>#}
{#                            </div>#}
{##}
{##}
{#                            <div class="fakeimg"><a href="{% url 'home' %}" style="font-size: 20px"> <img#}
{#                                    src="{% static 'instageram.jpg' %}" alt="اینستاگرام"#}
{#                                    style="width: 20px ; height: 20px"> اینستاگرام</div>#}
{#                            </a>#}
{#                            <br>#}
{#                            <div class="fakeimg"><a href="{% url 'home' %}" style="font-size: 20px"> <img#}
{#                                    src="{% static 'telegram1.jpg' %}" alt="telegram" style="height: 20px; width: 20px">#}
{#                                تلگرام</div>#}
{#                            <br></a>#}
{##}
{#                            <div class="fakeimg"><a href="{% url 'home' %}" style="font-size: 20px"><img#}
{#                                    src="{% static 'robika.png' %}" alt="robika" style="width: 20px;height: 20px"></div>#}
{#                            روبیکا </a>#}
{##}
{##}
{#                        </div>#}
{##}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="item col-md-4 one">#}
{#                    <div class="tm-work-item-inner">#}
{#                        <div class="icn"><i class="fas fa-2x fa-tools"></i></div>#}
{#                        <h3>دفتر مرکزی</h3>#}
{#                        <p>استان آذربایجان غربی - ارومیه - خیابان ایثار - نرسیده به فلکه جمهوری - مجتمع تجاری جلالی 2 -#}
{#                            طبقه همکف - پلاک 14</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item col-md-4 two">#}
{#                    <div class="tm-work-item-inner">#}
{#                        <div class="icn"><i class="fab fa-2x fa-phoenix-framework"></i></div>#}
{#                        <h3>نحوه ارسال</h3>#}
{#                        <p>بعد از ثبت سفارش نوع ارسال به انتخاب مشتری از طریق تیپاکس و پست پیشتاز خواهد بود </p>#}
{#                    </div>#}
{#                </div>#}
{#    </div>#}
{#    <div class="title">#}
{##}
{#    </div>#}
{#    </div>#}
{#    </section>#}
{##}
{#    <section class="gallery-section section parallax-window" data-parallax="scroll"#}
{#             data-image-src="img/section-3-bg.jpg" id="section-3">#}
{#        <div class="container">#}
{#            <div class="title text-right">#}
{#                <h2>محصولات عمده </h2>#}
{#            </div>#}
{#            <div class="mx-auto gallery-slider">#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-01.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-02.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-03.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-04.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-05.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-06.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-07.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-08.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#                <figure class="effect-julia item">#}
{#                    <img src="../../../static/2123_simply_amazed/img/gallery-img-09.jpg" alt="Image">#}
{#                    <figcaption>#}
{#                        <div>#}
{#                            <p>مدیر فروش عمده سید صادق حسینی</p>#}
{#                        </div>#}
{#                        <a href="#">View more</a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{#    <section class="contact-section section" id="section-4">#}
{#        <div class="container">#}
{#            <div class="title">#}
{#                <h3 style="font-family: 'B Tabassom'">تماس با ما</h3>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-lg-5 col-md-6 mb-4 contact-form">#}
{#                    <div class="form tm-contact-item-inner">#}
{#                        <form action="" method="POST">#}
{#                            {% csrf_token %}#}
{##}
{#                            <div class="form-group">#}
{#                                <input name="name" type="text" class="form-control" placeholder="نام">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input name="email" type="text" class="form-control" placeholder="ایمیل">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <textarea name="message" class="textarea form-control"#}
{#                                          placeholder="ارسال پیام"></textarea>#}
{#                            </div>#}
{#                            <div class="form-group text-right">#}
{#                                <input style="font-family: 'B Tabassom'" type="submit" class="btn btn-light"#}
{#                                       value="ارسال">#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-6 mb-4 contact-details">#}
{#                    <div class="tm-contact-item-inner-2">#}
{#                        <p>آدرس دفتر مرکزی : استان آذربایجان غربی - ارومیه - خیابان ایثار - نرسیده به فلکه جمهوری -#}
{#                            مجتمع تجاری جلالی 2 - طبقه همکف - پلاک 14</p>#}
{#                        <ul class="font-weight-light">#}
{#                            <li>#}
{#                                <span class="icn"><i class="fas fa-mobile-alt"></i></span>#}
{#                                <br>#}
{#                                <span class="lbl">مدیر :</span> <a href="#">0914-483-36-49</a>#}
{#                                <br>#}
{#                                <span class="lbl">پشتیبانی </span> <a href="#">0914-483-36-44</a>#}
{#                                <br>#}
{#                                <span class="lbl">پشتیبانی :</span> <a href="#">+90(535)632-92-14</a>#}
{#                            </li>#}
{##}
{##}
{#                            <span class="lbl">ایمیل:</span> <a href="#"></a>#}
{##}
{##}
{#                            <span class="icn"><i class="fas fa-globe-asia"></i>huseyni823@gmail.com</span>#}
{##}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-12 map">#}
{#                    <!-- Map -->#}
{#                    <div class="map-outer tm-mb-40">#}
{#                        <div class="gmap-canvas">#}
{#                            <iframe width="100%" height="400" id="gmap-canvas"#}
{#                                    src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"#}
{#                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <footer class="footer container container-2">#}
{#            <div class="row">#}
{#                <p class="col-sm-7">Copyright birinstore.co</p>#}
{#                <p class="col-sm-5 text-right design">Design: <a rel="nofollow" href="https://www.tooplate.com"#}
{#                                                                 target="_parent">Tooplate</a></p>#}
{#            </div>#}
{#        </footer>#}
{#    </section>#}
{#    </main>#}
{#    </div>#}
{#    <script src="../../../static/2123_simply_amazed/js/jquery-3.3.1.min.js"></script>#}
{#    <script src="../../../static/2123_simply_amazed/js/bootstrap.bundle.min.js"></script>#}
{#    <script src="../../../static/2123_simply_amazed/js/jquery.singlePageNav.min.js"></script>#}
{#    <script src="../../../static/2123_simply_amazed/js/slick.js"></script>#}
{#    <script src="../../../static/2123_simply_amazed/js/parallax.min.js"></script>#}
{#    <script src="../../../static/2123_simply_amazed/js/templatemo-script.js"></script>#}
{#     <div class="column">#}
{#      <img src="{% static 'map.jpg' %}" style="width:100%">#}
{#    </div>#}
{#{% endblock n_body %}#}